@{
  ViewBag.Title = "Index";
}
<h2>
  Recent Uploaded Songs</h2>
<hr />
<div>
  <div class="song">
    <h2>
      <i class="icon-music"></i><a href="/Songs/1">ခရီးမ်ားအဆုံးထိ </a>
    </h2>
    <ul class="artists">
      <li><i class="icon-user"></i><a href="/Artists/1">ေလးျဖဴ </a></li>
    </ul>
    <ul class="albums">
      <li><i class="icon-book"></i><a href="/Albums/1">ခဏေလးမ်ား </a></li>
    </ul>
  </div>
  <div class="song">
    <h2>
      <i class="icon-music"></i><a href="/Songs/1">ခရီးမ်ားအဆုံးထိ </a>
    </h2>
    <ul class="artists">
      <li><i class="icon-user"></i><a href="/Artists/1">ေလးျဖဴ </a></li>
    </ul>
    <ul class="albums">
      <li><i class="icon-book"></i><a href="/Albums/1">ခဏေလးမ်ား </a></li>
    </ul>
  </div>
  <div class="song">
    <h2>
      <i class="icon-music"></i><a href="/Songs/1">ခရီးမ်ားအဆုံးထိ </a>
    </h2>
    <ul class="artists">
      <li><i class="icon-user"></i><a href="/Artists/1">ေလးျဖဴ </a></li>
    </ul>
    <ul class="albums">
      <li><i class="icon-book"></i><a href="/Albums/1">ခဏေလးမ်ား </a></li>
    </ul>
  </div>
  <div class="song">
    <h2>
      <i class="icon-music"></i><a href="/Songs/1">ခရီးမ်ားအဆုံးထိ </a>
    </h2>
    <ul class="artists">
      <li><i class="icon-user"></i><a href="/Artists/1">ေလးျဖဴ </a></li>
    </ul>
    <ul class="albums">
      <li><i class="icon-book"></i><a href="/Albums/1">ခဏေလးမ်ား </a></li>
    </ul>
  </div>
  <div class="song">
    <h2>
      <i class="icon-music"></i><a href="/Songs/1">ခရီးမ်ားအဆုံးထိ </a>
    </h2>
    <ul class="artists">
      <li><i class="icon-user"></i><a href="/Artists/1">ေလးျဖဴ </a></li>
    </ul>
    <ul class="albums">
      <li><i class="icon-book"></i><a href="/Albums/1">ခဏေလးမ်ား </a></li>
    </ul>
  </div>
</div>
